# Imports

In [27]:
from nb_utils import set_root
PROJECT_DIR = set_root(2)

In [28]:
import pandas as pd

# Parameters

In [29]:
path_data = PROJECT_DIR / 'data'
path_intermediate = path_data / "02_intermediate"
path_primary = path_data / "03_primary"

file_path_tracker = path_primary / "tracker.parquet"
file_path_horm = path_intermediate / "data_horm_concat.parquet"

In [30]:
entity_id = "ID"

# Read

In [31]:
data_tracker = pd.read_parquet(file_path_tracker)
data_horm = pd.read_parquet(file_path_horm).reset_index()

# Merge

In [32]:
data_tracker["ID"] = data_tracker["ID"].astype(int)

In [33]:
data_join = data_tracker.merge(data_horm, how = "inner", on = "ID")

# Order columns

In [34]:
data_join = data_join[[entity_id] + [col for col in data_join.columns if  col != entity_id]]
data_join.head()

,ID,tracker_id,class_id,x_min,y_min,x_max,y_max,x_center,y_center,Serum C14:0,...,Sperm C20:1 n-9,Sperm C20:2 n-6,Sperm C22:0,Sperm C20:3 n-6,Sperm C20:4 n-6 & C22:1 n-9,Sperm C20:5 n-3,Sperm C24:0,Sperm C24:1 n-9,Sperm C22:5 n-3,Sperm C22:6 n-3
0,47,0,0,4.348797,118.514236,22.273115,138.625229,13.310956,128.569733,0.2,...,0.4,0.4,2.1,2.4,1.7,0.04,1.6,1.6,0.9,23.3
1,47,1,0,485.946716,145.540283,506.476501,166.668884,496.211609,156.104584,0.2,...,0.4,0.4,2.1,2.4,1.7,0.04,1.6,1.6,0.9,23.3
2,47,2,0,28.142849,251.524780,49.713924,272.921570,38.928387,262.223175,0.2,...,0.4,0.4,2.1,2.4,1.7,0.04,1.6,1.6,0.9,23.3
3,47,3,0,103.487030,363.432861,124.152924,384.810669,113.819977,374.121765,0.2,...,0.4,0.4,2.1,2.4,1.7,0.04,1.6,1.6,0.9,23.3
4,47,4,0,81.397095,360.035797,98.433258,378.959076,89.915176,369.497437,0.2,...,0.4,0.4,2.1,2.4,1.7,0.04,1.6,1.6,0.9,23.3

# Save

In [35]:
data_join.to_parquet(path_primary / "horm_tracker.parquet")